
**/bin/x64
**/bin
**/Release
**/Debug
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/delete_pdb
**/.vs

**/Build

*.vcxproj.user
*.opendb

!Renderer/Render/Passes/Debug
/ThirdParty/jsoncpp/source
/DX12Lib/x64
/Bin
**/x64

/vcpkg_installed
/ThirdParty