
**/bin/x64
**/bin
**/Release
**/Debug
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/delete_pdb
**/.vs

**/Build

*.vcxproj.user
*.opendb

/ThirdParty/jsoncpp/source
/DX12Lib/x64
/Bin
**/x64

!/ThirdParty/jsoncpp/lib/Debug
!/ThirdParty/jsoncpp/lib/Release

!/ThirdParty/fbxsdk/lib/Debug
!/ThirdParty/fbxsdk/lib/Release