###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp
###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
*.sln      filter=lfs merge=binary
*.csproj   filter=lfs merge=binary
*.vbproj   filter=lfs merge=binary
*.vcxproj  filter=lfs merge=binary
*.vcproj   filter=lfs merge=binary
*.dbproj   filter=lfs merge=binary
*.fsproj   filter=lfs merge=binary
*.lsproj   filter=lfs merge=binary
*.wixproj  filter=lfs merge=binary
*.modelproj filter=lfs merge=binary
*.sqlproj  filter=lfs merge=binary
*.wwaproj  filter=lfs merge=binary
###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg filter=lfs merge=binary
*.png filter=lfs merge=binary
*.gif filter=lfs merge=binary
###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
*.doc filter=lfs diff=astextplain
*.DOC filter=lfs diff=astextplain
*.docx filter=lfs diff=astextplain
*.DOCX filter=lfs diff=astextplain
*.dot filter=lfs diff=astextplain
*.DOT filter=lfs diff=astextplain
*.pdf filter=lfs diff=astextplain
*.PDF filter=lfs diff=astextplain
*.rtf filter=lfs diff=astextplain
*.RTF filter=lfs diff=astextplain
*.pdb filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pch filter=lfs diff=lfs merge=lfs -text
