
# Visual Studio ignores
**/.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
/x64
/out
/build

vcpkg-manifest-install.log

# Project-specific ignores
/Bin
/External
/Intermediate
/ThirdParty
/vcpkg_installed

# CMake ignores
**/CMakeFiles
*.dir
**/cmake_install.cmake
**/CMakeCache.txt
